/* zera as conf da pag*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: rgb(0, 0, 0);
    margin: 50px;
    padding: 30px;
}

ul li{
    /*tira as bolinhas*/
    list-style: none;
    display: inline;
    padding: 8px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18pt;
    font-weight: bold;
}

a:hover{
    color: rgba(0, 0, 0, 0.704);
    text-decoration: overline;
    padding: 12px;
    transition: 5ms;
    
}

section{
    margin: 50px;
}

h2{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15pt;
}


#font-type{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    margin: 50px;
    position: absolute;
    bottom: 0;
    right: 0;

}

